p#four {
	background-color: rgb(140,66,86);
}

p#three {
	background-color: rgb(96,191,174);
}

p#two {
	background-color: rgb(212,217,89);
}

p#one {
	background-color: rgb(242,232,179);
}

p#zero {
	background-color: rgb(242,129,29);
}